.product-container {
    display: flex;
    gap: 20px;

}

.product-item {
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
    background-color: blanchedalmond;
}

.addtocart {
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(224, 169, 65);
    cursor: pointer;
}