.products-container {
  margin: 20px auto;
  padding: 20px;
  max-width: 1000px;
}

.product-title {
  text-align: center;
  margin-bottom: 20px;
  color: #333
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px
}

.product-card {
  border: 2px solid black;
  padding: 15px;
  background-color: rgb(249, 219, 219);
  text-align: center;
  border-radius: 10px;
}

.product-image {
  height: 150px;
  object-fit: contain;
}

.product-title {
  font-size: 24px;
  color: rgb(6, 3, 3);
  margin-bottom: 20px;
}

.product-price {
  font-size: 24px;
  color: rgb(234, 97, 18);
  height: 50px;
}

.add-to-cart {
  padding: 20px;
  background-color: bisque;
  border: none;
  cursor: pointer;
}


.add-to-cart:hover {
  padding: 20px;
  background-color: rgb(95, 56, 9);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
}